<div class="container bg-white p-5 rounded-3 my-5">
    <div>
        <a [routerLink]="['/login']"><img [src]="arrow"></a>
        <div>
            <h1 class="text-center">Redefinir senha</h1>
            <p>Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha.</p>
        </div>
    </div>
    <p *ngIf="invalid" class="text-danger">E-mail inválido</p>
    <form [formGroup]="form">
        <input
            formControlName="username"
            type="text"
            placeholder="Informe seu e-mail"
            class="mb-3 form-control"
        />
        <button type="submit" class="btn btn-primary mt-3 py-2" style="width:100%;" (click)="verificar()">
            Entrar
        </button>
    </form>
</div>
